[submodule "libs/sesame-vocab-builder"]
	path = libs/sesame-vocab-builder
	url = https://github.com/dglachs/sesame-vocab-builder
[submodule "libs/skosjs"]
	path = libs/skosjs
	url = https://github.com/tkurz/skosjs
